:root{
    --root_background: #28282e;
    --object_background: #16161c;
    --highlight_color: #494954;
    --me_color_1: #4d79ff;
    --me_color_2: #336699;
    --portfolio_color_1: #66347F;
    --portfolio_color_2: #9E4784;
    --interest_color: #E45826;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: var(--root_background);
    color: whitesmoke; 
    background-image: radial-gradient(circle at 1px 1px, var(--highlight_color) 1px, transparent 0);
    background-size: 40px 40px;
}

h1{
    text-align: center;
}

.card p{
    margin-top: 2em;
    margin-left: .5em;
    margin-right: .5em;
    text-align: center;
    font-size: large;
}

img{
	display: block;
	border: 0;
	width: 80%;
    margin: auto;
	height: auto;
}

a{
    text-decoration: none;
}

.card{
    background-color: var(--object_background);
    color: whitesmoke;
    flex: 1 0 250px;
    box-sizing: border-box;
    margin: 3vw 3vw;
    border-radius: 25px;
}


.card:hover{
    animation: breathe 4s infinite;
}

@keyframes breathe {
    50% {box-shadow: 0px 0px 20px 3px var(--highlight_color);}
}

#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 40em) {
    .card {
       max-width: calc(100% -  5em);
    }
    #menu{
        margin-top: 5vh;
    }
}
 
@media screen and (min-width: 60em) {
    .card {
        height: 80vh;
        max-width: calc(33% - 6em);
    }
}

header{
    background-color: var(--object_background);
    margin-top: 0;
    padding-top: 0;
    color: whitesmoke;
}

.title{
    margin-top: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: whitesmoke;
}

.contentWraper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.window{
    margin-top: 2em;
    background-color: var(--object_background);
    border-radius: 25px;
    height: 80vh;
    width: 80vw;
    overflow: hidden;
}

.heading {
    text-align: center;
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#aboutMe{
    background-color: var(--me_color_2);
}

footer{
    color: var(--highlight_color);
    text-align: center;
}

.informationWraper{
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.info{
    flex: 1;
    background-color: var(--root_background);
    margin: 1em;
    border-radius: 10px;
}

.link{
    background-color: var(--me_color_2);
    width: 90%;
    color: whitesmoke;
    border-radius: 5px;
}

.info p {
    margin: .5em;
}

.portfolio{
    background-color: var(--portfolio_color_1);
}

.project{
    height: auto;
}

.interests{
    background-color: var(--interest_color);
}

.me{
    height: 25vh;
    width: auto;
    margin: auto;
}

code{
    overflow: scroll;
}

pre{
    overflow: scroll;
}