@charset "UTF-8";
header {
  background-color: #17171b;
  margin-top: 0;
  padding-top: 0;
  color: whitesmoke;
}

.title {
  margin-top: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: whitesmoke;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #28282e;
  color: whitesmoke;
  background-image: radial-gradient(circle at 1px 1px, #494954 1px, transparent 0);
  background-size: 40px 40px;
}

h1 {
  text-align: center;
}

img {
  display: block;
  border: 0;
  width: 80%;
  margin: auto;
  height: auto;
}

a {
  text-decoration: none;
}

.window {
  margin-top: 2em;
  background-color: #17171b;
  border-radius: 25px;
  height: 80vh;
  width: 80vw;
  overflow: hidden;
}

.heading {
  text-align: center;
  margin-top: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.contentWraper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

code, pre {
  overflow: scroll;
}

header {
  background-color: #17171b;
  margin-top: 0;
  padding-top: 0;
  color: whitesmoke;
}

.title {
  margin-top: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: whitesmoke;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #28282e;
  color: whitesmoke;
  background-image: radial-gradient(circle at 1px 1px, #494954 1px, transparent 0);
  background-size: 40px 40px;
}

h1 {
  text-align: center;
}

img {
  display: block;
  border: 0;
  width: 80%;
  margin: auto;
  height: auto;
}

a {
  text-decoration: none;
}

.window {
  margin-top: 2em;
  background-color: #17171b;
  border-radius: 25px;
  height: 80vh;
  width: 80vw;
  overflow: hidden;
}

.heading {
  text-align: center;
  margin-top: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.contentWraper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

code, pre {
  overflow: scroll;
}

.info {
  flex: 1;
  background-color: #28282e;
  margin: 1em;
  border-radius: 10px;
}
.info p {
  margin: 0.5em;
}

.link {
  background-color: #336699;
  width: 90%;
  color: whitesmoke;
  border-radius: 5px;
}

.me {
  height: 25vh;
  width: auto;
  margin: auto;
}

.informationWraper {
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#aboutMe {
  background-color: #336699;
}

header {
  background-color: #17171b;
  margin-top: 0;
  padding-top: 0;
  color: whitesmoke;
}

.title {
  margin-top: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: whitesmoke;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #28282e;
  color: whitesmoke;
  background-image: radial-gradient(circle at 1px 1px, #494954 1px, transparent 0);
  background-size: 40px 40px;
}

h1 {
  text-align: center;
}

img {
  display: block;
  border: 0;
  width: 80%;
  margin: auto;
  height: auto;
}

a {
  text-decoration: none;
}

.window {
  margin-top: 2em;
  background-color: #17171b;
  border-radius: 25px;
  height: 80vh;
  width: 80vw;
  overflow: hidden;
}

.heading {
  text-align: center;
  margin-top: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.contentWraper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

code, pre {
  overflow: scroll;
}

.card {
  background-color: #17171b;
  color: whitesmoke;
  flex: 1 0 250px;
  box-sizing: border-box;
  margin: 3vw 3vw;
  border-radius: 25px;
}
.card:hover {
  animation: breathe 4s infinite;
}
.card p {
  margin-top: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-align: center;
  font-size: large;
}

@keyframes breathe {
  50% {
    box-shadow: 0px 0px 20px 3px #494954;
  }
}
#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 40em) {
  .card {
    max-width: calc(100% - 5em);
  }
  #menu {
    margin-top: 5vh;
  }
}
@media screen and (min-width: 60em) {
  .card {
    height: 80vh;
    max-width: calc(33% - 6em);
  }
}
header {
  background-color: #17171b;
  margin-top: 0;
  padding-top: 0;
  color: whitesmoke;
}

.title {
  margin-top: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: whitesmoke;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #28282e;
  color: whitesmoke;
  background-image: radial-gradient(circle at 1px 1px, #494954 1px, transparent 0);
  background-size: 40px 40px;
}

h1 {
  text-align: center;
}

img {
  display: block;
  border: 0;
  width: 80%;
  margin: auto;
  height: auto;
}

a {
  text-decoration: none;
}

.window {
  margin-top: 2em;
  background-color: #17171b;
  border-radius: 25px;
  height: 80vh;
  width: 80vw;
  overflow: hidden;
}

.heading {
  text-align: center;
  margin-top: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.contentWraper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

code, pre {
  overflow: scroll;
}

.portfolio {
  background-color: #66347F;
}

.project {
  height: auto;
}

.interests {
  background-color: #E45826;
}

/* Przycisk hamburgerowy */
.hamburger-menu {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.line {
  display: block;
  width: 24px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  transition: transform 0.3s ease-in-out;
}

/* Menu nawigacyjne */
.top-menu {
  display: flex;
  justify-content: center;
}

.top-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-menu li {
  margin: 0 10px;
}

.top-menu a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

/* Responsywność */
@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }
  .top-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: white;
  }
  .top-menu ul {
    flex-direction: column;
  }
  .top-menu li {
    margin: 10px 0;
  }
  .active {
    display: flex;
  }
  .line:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  .line:nth-child(2) {
    opacity: 0;
  }
  .line:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
}/*# sourceMappingURL=styles.css.map */